@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: #f1f1f1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.App {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 80vh;
}
